<tr>
  <td>
    <% binding.pry %>
    <%= sales_detail.item.name %>
  </td>
  <td>
    <%= sales_detail.item.price %>
  </td>
  <td>
    <%= sales_detail.quantity %>
  </td>
  <td>
    <%= sales_detail.quantity * sales_detail.item.price %>
  </td>
</tr>
